PORT= Number
tradier= API KEY
alpha= API KEY
iptrack= API KEY
BROWSERSTACK = API KEY
bugUrl= Webhook URL
ipUrl= Webhook URL
SECRETKEY = String
NODE_ENV = TYPE
twitterKey = API KEY
devRouteToken = Token
discordToken = Password
MONGODB_URI = Full MongoURL