
.aStyle{
    font-Size: 45px;
    font-Weight: 'bold';
}
.bStyle{
    margin-Left: 200;
    margin-Right: 200;
    font-Size: 20px;
}
.cStyle{
    margin-Left: 50;
    margin-Right: 400;
    font-Size: 17px;
}
.dStyle{
    margin-Left: 50;
    font-Size: 20px;
    font-Weight: 600;
}
.eStyle{
    font-Size: 20px;
    font-Weight: 600;

}
.fStyle{
    font-size: 17px;
    font-Weight: 100;
}
#mission{
    margin: 0% 5%;
}
#disclaimers{
    margin-left: 2%;
    margin-right: 2%;
}
#contactInfo{
    margin-left: 2%;
}