.title {
    
    margin: 0 auto;
    color: black;
    text-align: center;
    position: absolute;
    font-family: 'HelveticaNeue';
    font-size: 70px;
    font-weight: 'bold';
    z-index: 1;
    padding-left: 30%
    
    
    
}
.firstText{
    color: black;
    text-align: left;
    position: absolute;
    bottom: 400px;
    padding-left: 60%;
    padding-right: 10%;
    z-index: 1;
    font-family: 'HelveticaNeue';
    font-size: 35px;
    
}

.testimony1{
    text-align: left;
    margin-left: 2%;
    margin-right: 60%;
    position: absolute;
    bottom: 250px;
    color: black;
    z-index: 1;
    font-family: 'HelveticaNeue';
    font-size: 35px;
}
.testimony2{
    text-align: left;
    margin-left: 2%;
    margin-right: 60%;
    position: absolute;
    bottom: -80px;
    z-index: 1;
    font-family: 'HelveticaNeue';
    font-size: 35px;
    color: black;
}
.testimony3{
    text-align: right;
    margin-left: 60%;
    margin-right: 2%;
    position: absolute;
    bottom: -850px;
    z-index: 1;
    font-family: 'HelveticaNeue';
    font-size: 35px;
    color: black;
}
.backgrounds{
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
    position: relative;
    opacity: .9;
    min-height: 500px;
    border-radius: 5px;
    
    
}
#chartBackground{
    position: relative;
    top: -800;
}
#twitter{
    position: absolute;
    z-index: 1;
    max-height: 600px;
    top: 700px;
    overflow: auto;
    right: 2%;
    margin-left: 80%;    
}
#insta1{
    position: absolute;
    top: 1075px;
    z-index: 1;
    max-height: 400px;  
}

