#logo{
    height:10%
}

#loadingIcon{
    height:5%
}

@keyframes cycle {
    0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
    }
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    }
    50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
@-webkit-keyframes cycle {
    0%, 50%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0.5, 0.5, 0.5);
    }
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    }
    50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
.cycle {
    -webkit-animation: cycle 1.5s infinite linear;
    animation: cycle 1.5s infinite linear;
}
@keyframes spin {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    }
}
.spin {
    -webkit-animation: spin 2s infinite;
    animation: spin 2s infinite;
}